@page "/products/{ProductId}/review"

@inject NavigationManager NavigationManager

<h3>ProductReview: @ProductId</h3>

<EditForm Model="@review" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Rating:
            <InputSelect @bind-Value="review.Rating">
                <option value="">Select rating ...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </InputSelect>
        </label>
    </p>

    <p>
        <label>
            Identifier:
            <InputText @bind-Value="review.Email" />
        </label>
    </p>
    <p>
        <label>
            Description (optional):
            <InputTextArea @bind-Value="review.Description" />
        </label>
    </p>
    
    <button type="submit">Submit</button>

</EditForm>

@code {

    [Parameter]
    public string? ProductId { get; set; }

    private Review review = new Review();

    private void HandleValidSubmit()
    {
        Console.WriteLine("Review submitted");
        Console.WriteLine($"Rating {review.Rating}");
        Console.WriteLine($"Rating {review.Email}");
        Console.WriteLine($"Rating {review.Description}");

        NavigationManager.NavigateTo($"products/{ProductId}");
    }
}
