@using BikeShop.Core.Features.Products
@using BikeShop.App.UseCases.Products
@using BikeShop.Core.UseCases.Products
@inject NavigationManager NavigationManager

<h3>ProductList</h3>

@foreach (var product in Products)
    {
        <div class="product">
            @product.Name
            <span class="brand">@product.Brand</span>
            <button class="product-btn" @onclick="@(f => NavigateToProductDetails(product.Id))">View details</button>
        </div>
    }

@code {

    [Parameter]
    public IEnumerable<ProductDto> Products { get; set; }

    private void NavigateToProductDetails(ProductId productId)
    {
        NavigationManager.NavigateTo($"products/{productId}");
    }

}
