.product {
    border-top: solid;
    border-color: #fff;
    font-weight: bold;
    height: 3em;
    border-width: 0.3em;
    background-color: #f0f0f0;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.product:hover {
    background-color: #d6d6d6;
}
